:root {
  --dark: #414833;
  --light: #c2c5aa;
}

.main {
  margin: auto;
  margin-top: 17vh;
  height: 100%;
}

.login-container {
  width: 15rem;
  height: auto;
  background-color: var(--light);
  border-radius: 1rem;
  padding: 2.5rem 1rem;
  box-shadow: 2px 2px 12px 12px #191e14;
}

.username input {
  padding: 0 1rem;
  background: transparent;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid var(--dark);
}

.password {
  margin-top: 1rem;
}

.password input {
  padding: 0 1rem;
  background: transparent;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid var(--dark);
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit input {
  padding: 0.2rem 4.7rem;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.3rem;
}

.forgot-pass {
  margin-top: 0.5rem;
  text-align: center;
}

.forgot-pass a {
  color: black;
  font-weight: 600;
}

.signup {
  margin-top: 0.5rem;
  text-align: center;
}

.signup h6 {
  font-weight: 400;
}

.signup a {
  color: black;
  font-weight: 600;
}

@media (min-width: 600px) {
  .login-container {
    width: 20rem;
  }

  .submit input {
    padding: 0.2rem 7.1rem;
  }
}

@media (min-width: 730px) {
  .login-container {
    width: 27rem;
  }

  .submit input {
    padding: 0.2rem 10.5rem;
  }

  .signup {
    display: flex;
    justify-content: center;
    column-gap: 0.6rem;
  }

  .signup h6 {
    padding-top: 0.2rem;
  }
}
